{% extends "base.html" %}
{% block content %}
  <ul>
    {% for item in items %}
      <li>        
        <h4>{{ item.name }}</h4>
         теги:
          {% for tag in item.tags.all %}
          {{ tag.name }} 
        {% endfor %}
        <p>{{ item.category.name }}</p>
        <a href="{{ item.get_absolute_url }}">подробнее</a>
        <p>{{ item.text }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}